@tailwind base;
@tailwind components;
@tailwind utilities;

.linier{
    background: linear-gradient(90.00deg, rgb(126, 144, 254),rgb(152, 115, 255) 100%);
}
.t-linier{
    background: -webkit-linear-gradient(#7E90FE, #9873FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
